PORT=5000
MONGODB_URI=mongodb+srv://ssahoo_db_user:AaGyEpKgQWCC4Vlc@resume-builder.aqrfk4s.mongodb.net/?appName=resume-builder
OPENROUTER_API_KEY=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
GOOGLE_CLIENT_ID=your_google_client_id_here
JWT_SECRET=your_jwt_secret_key_here
